.a1{
  background-color: #c23b22;
}

.a2{
  background-color: #4a8b3b;
}
.b0{
  background-color: #c23b22;
  padding: 10px;
}
.b1{
  background-color: #ff6633;
  padding: 10px;
}
.b2{
  background-color: #4a8b3b;
  padding: 10px;
}
.check{
  padding: 5px;
  border-style: solid;
  border-width: thin;
  height: 50px;
  width: 200px;

}

.oplist{
}

.porter{
  background-color: #e6f2ef;
}
