
<div class="oplist" style="height = [[item.est_surg_time]]px">
  <span class ="check" ng-show="item.order">
      [[ item.order ]]
  </span>
  <span class ="check" ng-show="item.Pat_ID">
      [[ item.Pat_ID]]
  </span>
  <span class ="check" ng-show="item.SNOMED">
      [[ item.SNOMED ]]
  </span>
  <span class ="check" ng-show="item.est_surg_time">
      [[ item.est_surg_time ]] mins
  </span>
  <span class ="check" ng-show="item.est_anaes_time">
      [[ item.est_anaes_time ]] mins
  </span>
</div>
